<li
  id="<%= hero.name %>"
  class="hero-card"
  data-bs-factions="<%= hero.factions %>"
>
  <a href="/heroes/<%= hero.name %>">
    <img src="/images/heroes_cards/<%= hero.cardName %> " />
  </a>
  <p><%= hero.name %></p>
</li>
