<li>
  <p><strong>Glory</strong>: <%= hero.bondRequirement.glory %></p>
</li>
<li>
  <p><strong>Light</strong>: <%= hero.bondRequirement.light %></p>
</li>
<li>
  <p><strong>Honor</strong>: <%= hero.bondRequirement.honor %></p>
</li>
<li>
  <p><strong>Toughness</strong>: <%= hero.bondRequirement.toughness %></p>
</li>
<li>
  <p><strong>Strength</strong>: <%= hero.bondRequirement.strength %></p>
</li>
