<li><img src="/images/skills/<%= skill.imageName %> " /></li>
<li>
  <h3>Awakening skill: <%= skill.name %></h3>
  <p>
    Cost: <%= skill.cost %> | Cd: <%= skill.cd %> | Range: <%= skill.range %> |
    Span: <%= skill.span %>
  </p>
  <p><%= skill.description %></p>
</li>
