<li>
  <h3>
    <img src="/images/heroes_classes/<%= heroClass.class.imageName %>" />
    <p><%= heroClass.class.name %></p>
  </h3>
  <% for (const skill of heroClass.skills) { %>
  <ul>
    <li>
      <img src="/images/skills/<%= skill.imageName %> " />
    </li>
    <li>
      <h5><strong><%= skill.name %></strong></h5>
      <p>
        Cost: <%= skill.cost %> | Cd: <%= skill.cd %> | Range: <%= skill.range
        %> | Span: <%= skill.span %>
      </p>
      <p><%= skill.description %></p>
    </li>
  </ul>
  <% } %>
  <ul>
    <% for (const soldier of heroClass.soldiers) { %>
    <img src="/images/soldiers_cards/<%= soldier.cardImageName %> " />
    <% } %>
  </ul>
</li>
